main {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-board {
  display: grid;
  grid-template-columns: 40px 40px 40px;
  grid-gap: 0px;
}

.game-info {
  margin-left: 20px;
}

.square {
  width:40px;
  height:40px;
}